<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^about /about [L]
#RewriteRule ^rss /rss [L]
#RewriteRule ^login /login [L]

## Lose the www
RewriteCond %{http_host} ^www\.shizzeeps\.com [NC]
RewriteRule ^(.*)$ http://shizzeeps.com/$1 [R=301,NC]

</IfModule>


php_flag display_errors off
php_flag html_errors off
